# 1. Data Colletion

In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("../datasets/rent_apartments.csv")

In [17]:
data.sample(5)

,address,area,constraction_year,rooms,bedrooms,bathrooms,balcony,storage,parking,furnished,garage,garden,energy,facilities,zip,neighborhood,rent
1560,1079 RN Amsterdam (Veluwebuurt),62.0,2012,2,1,1,no,no,yes,no,no,Not present,A,NaN,1079 RN,Veluwebuurt,1250
1254,1013 GP Amsterdam (Haarlemmerbuurt Oost),77.0,1956,3,2,1,yes,yes,no,yes,no,Not present,C,"Lift, Storage space, Toilet",1013 GP,Haarlemmerbuurt Oost,1995
1682,1019 LZ Amsterdam (KNSM-eiland),70.0,1993,3,2,1,no,no,no,yes,no,Not present,C,Lift,1019 LZ,KNSM-eiland,1650
660,1073 AV Amsterdam (Gerard Doubuurt),85.0,1905,3,2,1,no,no,no,no,no,Not present,NaN,Bath,1073 AV,Gerard Doubuurt,1800
658,1073 ED Amsterdam (Van der Helstpleinbuurt),93.0,1875,3,2,1,yes,no,no,yes,no,Not present,D,Toilet,1073 ED,Van der Helstpleinbuurt,2450

In [18]:
data.shape

(1728, 17)

# 2. Data Preparation

In [19]:
data.dtypes

address               object
area                 float64
constraction_year      int64
rooms                  int64
bedrooms               int64
bathrooms              int64
balcony               object
storage               object
parking               object
furnished             object
garage                object
garden                object
energy                object
facilities            object
zip                   object
neighborhood          object
rent                   int64
dtype: object

In [20]:
data_encoded = pd.get_dummies(data, 
                              columns=['balcony', 'parking', 'furnished', 'garage', 'storage'],
                              drop_first=True)

In [21]:
data_encoded.shape

(1728, 17)

In [22]:
data_encoded.garden.unique()

array(['Not present', 'Present (47 m²)', 'Present (29 m²)',
       'Present (75 m²)', 'Present (40 m², located on the north)',
       'Present (50 m²)', 'Present (20 m², located on the south)',
       'Present (1 m²)', 'Present (15 m²)', 'Present (25 m²)',
       'Present (12 m²)', 'Present (45 m², located on the south)',
       'Present (26 m², located on the south-east)',
       'Present (20 m², located on the north-east)',
       'Present (42 m², located on the west)', 'Present (46 m²)',
       'Present (45 m², located on the south-west)',
       'Present (60 m², located on the south-west)',
       'Present (50 m², located on the south)',
       'Present (40 m², located on the north-east)', 'Present (16 m²)',
       'Present (60 m²)', 'Present (65 m², located on the south)',
       'Present (90 m²)', 'Present (85 m²)',
       'Present (85 m², located on the south-west)',
       'Present (500 m², located on the west)',
       'Present (45 m², located on the west)',
       'Present (12 m², located on the south)',
       'Present (30 m², located on the north-west)',
       'Present (60 m², located on the south-east)',
       'Present (49 m², located on the east)',
       'Present (51 m², located on the south-east)', 'Present (80 m²)',
       'Present (27 m²)', 'Present (56 m²)', 'Present (65 m²)',
       'Present (20 m²)', 'Present (9 m²)', 'Present (200 m²)',
       'Present (32 m²)', 'Present (45 m²)',
       'Present (100 m², located on the south)', 'Present (34 m²)'],
      dtype=object)

In [23]:
import re

In [24]:
re.findall(r'\d+', 'Present (47 m²)')

['47']

In [25]:
data_encoded['garden'] = data_encoded['garden'].apply(lambda x: int(re.findall(r'\d+', x)[0]) if x != 'Not present' else 0)

In [26]:
data_encoded.sample(5)

,address,area,constraction_year,rooms,bedrooms,bathrooms,garden,energy,facilities,zip,neighborhood,rent,balcony_yes,parking_yes,furnished_yes,garage_yes,storage_yes
1253,1013 GP Amsterdam (Haarlemmerbuurt Oost),77.0,1956,3,2,1,0,C,"Lift, Storage space, Toilet",1013 GP,Haarlemmerbuurt Oost,1995,True,False,True,False,True
703,1012 RZ Amsterdam (Hemelrijk),42.0,2018,2,1,1,0,A,"Shower, Toilet",1012 RZ,Hemelrijk,1800,False,False,True,False,False
1175,1096 AA Amsterdam (De Omval),85.0,1997,3,2,1,0,NaN,"Lift, Storage space, Bath, Toilet",1096 AA,De Omval,1950,False,True,True,True,True
141,1017 AD Amsterdam (Rembrandtpleinbuurt),71.0,1659,3,2,1,0,NaN,"Shower, Toilet",1017 AD,Rembrandtpleinbuurt,2450,False,False,True,False,False
432,1072 BG Amsterdam (Frans Halsbuurt),70.0,1895,2,1,1,0,E,NaN,1072 BG,Frans Halsbuurt,1600,False,False,False,False,False

In [27]:
data_encoded.garden.unique()

array([  0,  47,  29,  75,  40,  50,  20,   1,  15,  25,  12,  45,  26,
        42,  46,  60,  16,  65,  90,  85, 500,  30,  49,  51,  80,  27,
        56,   9, 200,  32, 100,  34])

# 3. Model Building

## 3. Defining X and y

In [28]:
columns = ['area', 
            'constraction_year', 
            'bedrooms', 
            'garden', 
            'balcony_yes', 
            'parking_yes', 
            'furnished_yes', 
            'garage_yes', 
            'storage_yes']
X = data_encoded[columns]

y = data_encoded['rent']